/* index.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Empêche la barre de défilement globale */
}

.container {
  height: 100vh;
  overflow: hidden; /* Empêche la barre de défilement à l'intérieur de .container */
}
